* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  overflow-x: hiden;
}

.header_title {
  text-align: center;
  margin: 10px 0;
  padding: 10px;
  background-color: rgba(215, 215, 215, 0.459);
  font-size: 2.6rem;
}

.nav_bar {
  text-align: center;
  border: none;
  background-color: rgba(0, 0, 0, 0.765);
  color: rgb(255, 255, 255);
  padding: 10px;
}

.nav_link {
  color: rgb(229, 230, 231);
  font-size: 1.7rem;
  padding: 5px;
  margin: 0 15px;
}

.articles_list {
  display: grid;
  width: 100%;
  align-items: center;
}

#articles_list_title {
  text-align: center;
  margin-top: 30px;
  padding: 5px;
  width: 100%;
  font-size: 2rem;
  color: rgb(52, 49, 49);
}

#article {
  text-align: center;
  border-top: 0.5px solid rgba(0, 0, 0, 0.462);
  margin: 20px 0;
  padding: 5px;
  width: 100%;
}

#article_title {
  margin: 20px;
  padding: 5px;
  font-size: 2rem;
}

#article_img {
  width: 350px;
  border-radius: 3px;
}

#article_title_link {
  color: rgb(52, 49, 49);
}

.article_list_info {
  color: rgb(110, 110, 110);
}

#article_writtenBy {
  margin-top: 10px;
  padding-top: 5px;
  font-size: 1rem;
}

#article_topic {
  margin-top: 10px;
  padding-top: 5px;
  font-size: 0.9rem;
}

#article_comments {
  padding-top: 5px;
  font-size: 0.9rem;
}

#article_votes {
  padding-top: 5px;
  font-size: 0.9rem;
}

.single_article {
  display: flex;
  flex-direction: column;
  margin: 5px 0;
  height: 100%;
  padding: 20px;
}

#single_art_title {
  padding: 10px 5px;
  font-size: 2rem;
  max-width: 65%;
  text-align: left;
  margin-left: 5px;
}

html {
  height: 100%;
}

.text_and_img {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-evenly;
}

#single_art_body {
  width: 60%;
  flex-grow: 2;
  flex-shrink: 1;
  margin: 10px;
  font-size: 1rem;
}

#single_art_img {
  width: 30%;
  flex-grow: 2;
  flex-shrink: 1;
  border-radius: 3px;
}

.date_and_author {
  display: flex;
  font-style: italic;
  font-size: 0.8rem;
  color: rgb(94, 93, 93);
}

#created_at {
  margin-left: 1rem;
  margin-right: 0.5em;
}

.vote_buttons {
  display: flex;
  margin: 10px 0;
  justify-content: center;
  background-color: rgba(215, 215, 215, 0.459);
  padding: 10px 0;
  width: 65%;
  border-radius: 3px;
  color: rgb(52, 49, 49);
}

#vote_box_title {
  margin-right: 10px;
}

#vote_number {
  padding: 2px;
}

#vote_btn {
  margin: 0 5px;
  width: 3rem;
  background-color: rgb(178, 188, 196);
  border: none;
  border-radius: 3px;
}

.comments {
  background-color: rgba(215, 215, 215, 0.459);
  text-align: center;
  font-size: 0.9rem;
  padding: 10px;
  border-radius: 4px;
  width: 40%;
  overflow: auto;
  flex-grow: 2;
}

#comment {
  padding: 5px;
  border-top: 1px solid rgba(215, 215, 215, 0.961);
  text-align: justify;
}

.comment_info {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 3px;
  font-size: 1.1rem;
  color: rgb(52, 49, 49);
}

#comment_section_title {
  padding-bottom: 10px;
  font-size: 1rem;
  color: rgb(52, 49, 49);
}

#comment_date {
  margin-left: 2px;
}

#comment_votes {
  margin-left: 10px;
  color: rgb(101, 130, 156);
}

.delete_icon {
  width: 25px;
  height: 25px;
  font-size: 20px;
  padding: 3px;
  margin-left: 10px;
  color: rgb(52, 49, 49);
}

ul {
  list-style-type: none;
}

/* new comment:*/

.new_comment {
  background-color: rgba(215, 215, 215, 0.459);
  border-radius: 3px;
}

.label_username {
  color: rgb(52, 49, 49);
  margin: 20px 0 5px 0;
  font-size: 1rem;
  font-weight: 500;
}
.username_select {
  background-color: rgb(178, 188, 196);
  color: rgb(52, 49, 49);
  width: 10rem;
  height: 30px;
  border: none;
  border-radius: 4px;
  font-size: 1rem;
  text-align: center;
  margin-bottom: 10px;
}

.label_addComment {
  color: rgb(52, 49, 49);
  font-size: 1rem;
  font-weight: 500;
  margin: 10px 0;
}

#new_comment_text {
  background-color: rgb(255, 255, 255);
  width: 85%;
  max-height: 60%;
  border-radius: 4px;
  border: none;
  padding: 5px;
  font-size: 1rem;
  flex-grow: 1;
}

.sort_order {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.sort_title {
  font-size: 1rem;
  color: rgb(52, 49, 49);
}

.sort_section {
  padding: 5px;
  margin-left: 10px;
}

.sort_select {
  font-size: 1rem;
  color: rgb(110, 110, 110);
  width: 10rem;
  height: 2rem;
  border: 1px solid rgb(52, 49, 49);
  border-radius: 3px;
}

.order_title {
  font-size: 1rem;
  color: rgb(52, 49, 49);
}

.order_section {
  padding: 10px;
  margin-right: 20px;
}

.order_select {
  font-size: 1rem;
  color: rgb(110, 110, 110);
  width: 10rem;
  height: 2rem;
  border: 1px solid rgb(52, 49, 49);
  border-radius: 3px;
}

#articleByTopic_img {
  width: 350px;
  margin: 10px;
  border-radius: 3px;
}

.articleByTopic_div {
  color: rgb(110, 110, 110);
}

.articlebyTopic_writtenBy {
  margin-top: 10px;
  padding-top: 5px;
  font-size: 1.2rem;
}
.articleByTopic_topic {
  padding-top: 10px;
  font-size: 1.1rem;
}
.articleByTopic_comments {
  padding-top: 5px;
  font-size: 1.1rem;
}
.articleByTopic_votes {
  padding-top: 5px;
  font-size: 1.1rem;
}

.active {
  color: rgb(101, 130, 156);
}

.comments_section {
  display: flex;
  max-height: 30rem;
}

.new_comment {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-grow: 1;
  min-width: 30%;
  margin-left: 1rem;
}

.comment_username {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#new_Comment_btn {
  padding: 8px;
  margin-top: 1rem;
  background-color: rgb(178, 188, 196);
  color: rgb(52, 49, 49);
  border-radius: 3px;
  border: none;
  width: 10rem;
}

/* CSS FOR MOBILE PHONES BELOW: */
/* CSS FOR MOBILE PHONES BELOW: */
/* CSS FOR MOBILE PHONES BELOW: */
/* CSS FOR MOBILE PHONES BELOW: */
/* CSS FOR MOBILE PHONES BELOW: */
/* CSS FOR MOBILE PHONES BELOW: */
/* CSS FOR MOBILE PHONES BELOW: */

@media only screen and (max-width: 480px) {
  .header_title {
    text-align: center;
    margin: 10px 0;
    padding: 5px;
    background-color: rgba(215, 215, 215, 0.459);
    font-size: 2rem;
  }

  .nav_bar {
    text-align: center;
    border: none;
    background-color: rgba(0, 0, 0, 0.765);
    color: rgb(255, 255, 255);
    padding: 10px;
  }

  .nav_link {
    color: rgb(229, 230, 231);
    font-size: 1rem;
    padding: 5px;
    margin: 0 15px;
  }

  .articles_list {
    display: grid;
    width: 100%;
    align-items: center;
  }

  #articles_list_title {
    text-align: center;
    margin-top: 30px;
    padding: 5px;
    width: 100%;
    font-size: 1.5rem;
    color: rgb(52, 49, 49);
  }

  #article {
    text-align: center;
    border-top: 0.5px solid rgba(0, 0, 0, 0.462);
    margin: 20px 0;
    padding: 5px;
    width: 100%;
  }

  #article_title {
    margin: 20px;
    padding: 5px;
    font-size: 1.4rem;
  }

  #article_img {
    width: 250px;
    border-radius: 3px;
  }

  #article_title_link {
    color: rgb(52, 49, 49);
  }

  .article_list_info {
    color: rgb(110, 110, 110);
  }

  #article_writtenBy {
    margin-top: 10px;
    padding-top: 5px;
    font-size: 0.8rem;
  }

  #article_topic {
    margin-top: 10px;
    padding-top: 5px;
    font-size: 0.7rem;
  }

  #article_comments {
    padding-top: 5px;
    font-size: 0.7rem;
  }

  #article_votes {
    padding-top: 5px;
    font-size: 0.7rem;
  }

  .single_article {
    display: flex;
    flex-direction: column;
    margin: 5px 0;
    height: 100%;
    padding: 20px;
  }

  #single_art_title {
    padding: 10px 5px;
    font-size: 1.4rem;
    max-width: 100%;
    text-align: center;
    margin-bottom: 10px;
  }

  html {
    height: 100%;
  }

  .text_and_img {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  #single_art_body {
    width: 95%;
    flex-grow: 2;
    flex-shrink: 1;
    margin: 10px;
    font-size: 1rem;
    text-align: justify;
  }

  #single_art_img {
    width: 80%;
    flex-grow: 2;
    flex-shrink: 1;
    border-radius: 3px;
    margin-bottom: 10px;
  }

  .date_and_author {
    display: flex;
    font-style: italic;
    font-size: 0.8rem;
    color: rgb(94, 93, 93);
  }

  #created_at {
    margin-left: 1rem;
    margin-right: 0.5em;
  }

  .vote_buttons {
    display: flex;
    margin: 10px 0;
    justify-content: center;
    background-color: rgba(215, 215, 215, 0.459);
    padding: 10px 0;
    width: 100%;
    border-radius: 3px;
    color: rgb(52, 49, 49);
  }

  #vote_box_title {
    margin-right: 10px;
    font-size: 0.8rem;
  }

  #vote_number {
    padding: 2px;
    font-size: 0.8rem;
  }

  #vote_btn {
    margin: 0 5px;
    width: 3rem;
    background-color: rgb(178, 188, 196);
    color: rgb(52, 49, 49);
    border: none;
    border-radius: 3px;
    font-size: 0.8rem;
  }

  .comments {
    background-color: rgba(215, 215, 215, 0.459);
    text-align: center;
    font-size: 0.6rem;
    padding: 5px;
    border-radius: 4px;
    width: 100%;
    overflow: auto;
    flex-grow: 2;
    margin-top: 10px;
  }

  #comment {
    padding: 5px;
    border-top: 1px solid rgba(215, 215, 215, 0.961);
    text-align: justify;
  }

  .comment_info {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 3px;
    font-size: 0.7rem;
    color: rgb(52, 49, 49);
  }

  #comment_section_title {
    padding-bottom: 10px;
    font-size: 0.7rem;
    color: rgb(52, 49, 49);
  }

  #comment_date {
    margin-left: 2px;
  }

  #comment_votes {
    margin-left: 10px;
    color: rgb(101, 130, 156);
  }

  .delete_icon {
    width: 1rem;
    height: 1rem;
    font-size: 0.9rem;
    padding: 3px;
    margin-left: 10px;
    color: rgb(52, 49, 49);
  }

  ul {
    list-style-type: none;
  }

  /* new comment:*/

  .new_comment {
    background-color: rgba(215, 215, 215, 0.459);
    border-radius: 3px;
    width: 100%;
    margin-left: 0;
  }

  .label_username {
    color: rgb(52, 49, 49);
    margin-top: 10px;
    margin-right: 2px;
    font-size: 0.8rem;
    font-weight: 500;
  }
  .username_select {
    background-color: rgb(178, 188, 196);
    color: rgb(52, 49, 49);
    width: 8rem;
    height: 20px;
    border: none;
    border-radius: 4px;
    font-size: 0.8rem;
    text-align: center;
    margin-top: 10px;
  }

  .label_addComment {
    color: rgb(52, 49, 49);
    font-size: 0.8rem;
    font-weight: 500;
  }

  #new_comment_text {
    background-color: rgb(255, 255, 255);
    width: 85%;
    height: 6rem;
    border-radius: 4px;
    border: none;
    padding: 8px;
    font-size: 0.6rem;
    flex-grow: 1;
  }

  .sort_order {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }

  .sort_title {
    font-size: 1rem;
    color: rgb(52, 49, 49);
  }

  .sort_section {
    padding: 5px;
    margin-left: 10px;
  }

  .sort_select {
    font-size: 1rem;
    color: rgb(110, 110, 110);
    width: 10rem;
    height: 2rem;
    border: 1px solid rgb(52, 49, 49);
    border-radius: 3px;
  }

  .order_title {
    font-size: 1rem;
    color: rgb(52, 49, 49);
  }

  .order_section {
    padding: 10px;
    margin-right: 20px;
  }

  .order_select {
    font-size: 1rem;
    color: rgb(110, 110, 110);
    width: 10rem;
    height: 2rem;
    border: 1px solid rgb(52, 49, 49);
    border-radius: 3px;
  }

  #articleByTopic_img {
    width: 250px;
    margin: 10px;
    border-radius: 3px;
  }

  .articleByTopic_div {
    color: rgb(110, 110, 110);
  }

  .articlebyTopic_writtenBy {
    margin-top: 10px;
    padding-top: 5px;
    font-size: 0.8rem;
  }
  .articleByTopic_topic {
    padding-top: 10px;
    font-size: 0.7rem;
  }
  .articleByTopic_comments {
    padding-top: 5px;
    font-size: 0.7rem;
  }
  .articleByTopic_votes {
    padding-top: 5px;
    font-size: 0.7rem;
  }

  .active {
    color: rgb(101, 130, 156);
  }

  .comments_section {
    display: flex;
    flex-direction: column-reverse;
    max-height: 30rem;
  }

  .new_comment {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-grow: 1;
    width: 100%;
  }

  .comment_username {
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  #new_Comment_btn {
    padding: 5px;
    margin: 0.5rem 0;
    background-color: rgb(178, 188, 196);
    color: rgb(52, 49, 49);
    border-radius: 3px;
    border: none;
    width: 8rem;
    height: 2em;
    font-size: 0.7rem;
    text-align: center;
  }
}
