* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

@media only screen and (max-width: 767px) {
  .header_title {
    text-align: center;
    margin: 10px 0;
    padding: 10px;
    background-color: rgba(215, 215, 215, 0.459);
  }

  .nav_bar {
    text-align: center;
    border: none;
    background-color: rgba(0, 0, 0, 0.765);
    color: rgb(255, 255, 255);
    padding: 09px;
  }

  .nav_link {
    color: rgb(229, 230, 231);
    padding: 5px;
    margin: 0 7px;
  }

  #articles_list_title {
    text-align: center;
    margin: 10px;
    padding: 5px;
  }

  #article {
    text-align: center;
    border-top: 0.5px solid rgba(84, 83, 83, 0.462);
    margin: 15px 0;
    padding: 5px;
  }

  #article_title {
    margin: 20px;
    padding: 5px;
  }

  #article_title_link {
    color: black;
  }

  #article_topic {
    margin-top: 10px;
    padding-top: 5px;
    font-size: 0.5rem;
  }

  .single_article {
    padding: 10px;
    width: 100%;
    height: 100vh;
    background-color: rgb(255, 255, 255);
    overflow: auto;
  }

  #single_art_title {
    margin: 10px;
    padding: 10px;
    font-size: 1rem;
    max-width: 90vw;
    text-align: center;
  }

  .date_and_author p {
    display: inline-block;
    font-size: 0.4rem;
    margin: 0 0 10px 0;
    font-style: italic;
  }

  #created_at {
    margin-left: 1rem;
  }

  #single_art_author {
    display: inline-block;
    margin-left: 0.5rem;
  }

  #single_art_img {
    display: none;
  }

  #single_art_body {
    background-color: rgba(215, 215, 215, 0.459);
    width: 90vw;
    min-height: 35vh;
    max-height: 80vh;
    text-align: justify;
    margin: 15px 20px 0 10px;
    padding: 10px 10px 0 10px;
    line-height: 12pt;
    font-size: 0.6rem;
    overflow: auto;
    word-wrap: break-word;
    border-radius: 4px;
  }

  .comments {
    background-color: rgba(215, 215, 215, 0.459);
    text-align: center;
    font-size: 0.5rem;
    width: 90vw;
    max-height: 60vh;
    margin: 15px 20px 0 10px;
    padding: 10px;
    border-radius: 4px;
    overflow: auto;
  }

  #comment {
    padding: 4px;
    border-top: 1px solid rgba(215, 215, 215, 0.961);
    text-align: justify;
  }

  .comment_info h6 {
    display: inline-block;
    padding: 2px;
  }

  #comment_section_title {
    padding-bottom: 5px;
    font-size: 0.5rem;
  }

  #comment_date {
    display: inline-block;
  }

  ul {
    list-style-type: none;
  }

  .vote_buttons {
    background-color: rgba(215, 215, 215, 0.459);
    width: 90vw;
    text-align: center;
    padding: 2px;
    float: right;
    border-radius: 4px;
    margin: 0 2.5% 20px 1%;
  }

  #vote_btn {
    background-color: rgb(178, 188, 196);
    width: 30px;
    height: 20px;
    margin: 5px;
    border: none;
    border-radius: 2px;
    color: rgb(37, 36, 36);
    font-size: 0.5rem;
  }

  #vote_box_title {
    color: rgb(71, 70, 70);
    font-size: 0.6rem;
    display: inline-block;
    margin-right: 15px;
  }

  #vote_number {
    font-size: 0.5rem;
  }

    /* new comment:*/

    .new_comment {
      background-color: rgba(215, 215, 215, 0.459);
      width: 95%;
      height: 25vh;
      margin: 5px 15px 10px 10px;
      float: right;
      position: relative;
      top: 3px;
      left: 7px;
      border-radius: 4px;
    }
  
    .username_select {
      background-color: rgb(178, 188, 196);
      width: 16vh;
      height: 5vh;
      margin: 10px 15px;
      position: relative;
      top: 20px;
      right: 40px;
      float: left;
      border: none;
      border-radius: 4px;
      font-size: 0.4rem;
      text-align: center;
    }
  
    .label_username {
      color: rgb(79, 77, 77);
      height: 5px;
      position: relative;
      top: 15px;
      left: 25px;
      font-size: 0.5rem;
      float: left;
    }
  
    .label_addComment {
      display: none;
    }
  
    #new_comment_text {
      background-color: rgb(255, 255, 255);
      width: 65vw;
      height: 19vh;
      border-radius: 4px;
      border: none;
      position: relative;
      bottom: 35px;
      font-size: 0.5rem;
      margin: 10px;
      float: right;
    }
  
    #new_Comment_btn {
      background-color: rgb(178, 188, 196);
      width: 17vw;
      height: 6vh;
      border: none;
      position: relative;
      top: -80px;
      right: 3px;
      text-align: center;
      color: rgb(52, 49, 49);
      border-radius: 4px;
      font-size: 0.5rem;
      float: left;
      margin: 10px 15px;
      padding: 2px;
    }
} /*END OF CELLPHONE CSS*/

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .header_title {
    text-align: center;
    margin: 10px 0;
    padding: 20px;
    background-color: rgba(215, 215, 215, 0.459);
  }

  .nav_bar {
    text-align: center;
    border: none;
    background-color: rgba(0, 0, 0, 0.765);
    color: rgb(255, 255, 255);
    padding: 15px;
  }

  .nav_link {
    color: rgb(229, 230, 231);
    font-size: 1.5rem;
    padding: 5px;
    margin: 0 10px;
  }

  #articles_list_title {
    text-align: center;
    margin: 20px;
    padding: 5px;
  }

  #article {
    text-align: center;
    border-top: 0.5px solid rgba(0, 0, 0, 0.462);
    margin: 20px 0;
    padding: 5px;
  }

  #article_title {
    margin: 20px;
    padding: 5px;
  }

  #article_title_link {
    color: black;
  }

  #article_topic {
    margin-top: 10px;
    padding-top: 5px;
  }

  .single_article {
    padding: 10px;
    width: 100%;
    height: 100vh;
    background-color: rgb(252, 252, 252);
    overflow: auto;
    position: relative;
  }

  #single_art_title {
    margin: 15px;
    padding: 10px;
    font-size: 1.5rem;
    max-width: 90vw;
    text-align: center;
  }

  .date_and_author p {
    display: inline-block;
    font-size: 0.6rem;
    font-style: italic;
  }

  #created_at {
    margin-left: 1rem;
  }

  #single_art_author {
    display: inline-block;
    margin-left: 0.5rem;
  }

  #single_art_img {
    display: none;
  }

  #single_art_body {
    background-color: rgba(215, 215, 215, 0.459);
    width: 93.5vw;
    min-height: 35vh;
    max-height: 60vh;
    text-align: justify;
    margin: 15px 15px 0 15px;
    padding: 10px;
    line-height: 18pt;
    font-size: 0.8rem;
    overflow: auto;
    word-wrap: break-word;
    border-radius: 4px;
  }

  .comments {
    background-color: rgba(215, 215, 215, 0.459);
    text-align: center;
    font-size: 0.7rem;
    width: 93.5vw;
    height: 45vh;
    margin: 15px 15px 5px 15px;
    padding: 10px;
    border-radius: 4px;
    overflow: auto;
  }

  #comment {
    padding: 4px;
    border-top: 1px solid rgba(215, 215, 215, 0.961);
    text-align: justify;
  }

  .comment_info h6 {
    display: inline-block;
    padding: 3px;
    font-size: 0.5rem;
  }

  #comment_section_title {
    padding-bottom: 5px;
    font-size: 0.7rem;
  }

  #comment_date {
    display: inline-block;
  }

  ul {
    list-style-type: none;
  }

  .vote_buttons {
    background-color: rgba(215, 215, 215, 0.459);
    width: 320px;
    text-align: center;
    padding: 2px;
    border-radius: 4px;
    margin: 0 15px 20px 0;
    float: right;
  }

  #vote_btn {
    background-color: rgb(178, 188, 196);
    width: 30px;
    height: 20px;
    margin: 5px;
    border: none;
    border-radius: 2px;
    color: rgb(37, 36, 36);
    font-size: 0.5rem;
  }

  #vote_box_title {
    color: rgb(71, 70, 70);
    font-size: 0.6rem;
    display: inline-block;
    margin-right: 15px;
  }

  #vote_number {
    font-size: 0.5rem;
  }

  /* new comment:*/

  .new_comment {
    background-color: rgba(215, 215, 215, 0.459);
    width: 96%;
    height: 25vh;
    margin: 5px 15px 10px 10px;
    float: right;
    position: relative;
    border-radius: 4px;
  }

  .username_select {
    background-color: rgb(178, 188, 196);
    width: 18.5vh;
    height: 5vh;
    margin: 10px 15px;
    position: relative;
    top: 20px;
    right: 40px;
    float: left;
    border: none;
    border-radius: 4px;
    font-size: 0.6rem;
    text-align: center;
  }

  .label_username {
    color: rgb(79, 77, 77);
    height: 5px;
    position: relative;
    top: 15px;
    left: 45px;
    font-size: 0.6rem;
    float: left;
  }

  .label_addComment {
    color: rgb(79, 77, 77);
    font-size: 0.55rem;
    position: relative;
    left: 240px;
  }

  #new_comment_text {
    background-color: rgb(255, 255, 255);
    width: 75vw;
    height: 19vh;
    border-radius: 4px;
    border: none;
    position: relative;
    bottom: 35px;
    font-size: 0.6rem;
    margin: 10px;
    float: right;
  }

  #new_Comment_btn {
    background-color: rgb(178, 188, 196);
    width: 12vw;
    height: 5vh;
    border: none;
    position: relative;
    top: -95px;
    left: 6px;
    text-align: center;
    color: rgb(52, 49, 49);
    border-radius: 4px;
    font-size: 0.6rem;
    float: left;
    margin: 10px 15px;
  }
} /*END OF TABLET CSS*/

@media only screen and (min-width: 992px) {
  .header_title {
    text-align: center;
    margin: 10px 0;
    padding: 25px;
    background-color: rgba(215, 215, 215, 0.459);
    font-size: 3.5rem;
  }

  .nav_bar {
    text-align: center;
    border: none;
    background-color: rgba(0, 0, 0, 0.765);
    color: rgb(255, 255, 255);
    padding: 20px;
  }

  .nav_link {
    color: rgb(229, 230, 231);
    font-size: 2rem;
    padding: 5px;
    margin: 0 15px;
  }

  .articles_list {
    display: grid;
    width: 100%;
    align-items: center;
  }

  #articles_list_title {
    text-align: center;
    margin-top: 30px;
    padding: 5px;
    height: 60px;
    width: 100%;
    font-size: 2.5rem;
  }

  #article {
    text-align: center;
    border-top: 0.5px solid rgba(0, 0, 0, 0.462);
    margin: 20px 0;
    padding: 5px;
    width: 100%;
  }

  #article_title {
    margin: 20px;
    padding: 5px;
    font-size: 1.5rem;
  }

  #article_title_link {
    color: black;
  }

  #article_topic {
    margin-top: 10px;
    padding-top: 5px;
  }

  .single_article {
    margin: 5px 0;
    padding: 20px;
    width: 100%;
    height: 100%;
    background-color: rgb(255, 255, 255);
    position: relative;
  }

  #single_art_title {
    padding: 10px 5px;
    font-size: 2.2rem;
    max-width: 65vw;
    text-align: left;
  }

  .date_and_author p {
    display: inline-block;
    font-style: italic;
    font-size: 0.8rem;
  }

  #created_at {
    margin-left: 1rem;
  }

  #single_art_author {
    display: inline-block;
    margin-left: 0.5rem;
  }

  #single_art_img {
    max-width: 31vw;
    max-height: 30vh;
    float: right;
    opacity: 0.7;
    margin: 10px 15px 25px 15px;
    border-radius: 4px;
  }

  #single_art_body {
    background-color: rgba(215, 215, 215, 0.459);
    min-width: 60vw;
    max-width: 60vw;
    min-height: 45vh;
    max-height: 45vh;
    text-align: justify;
    margin: 10px;
    padding: 5px 10px;
    line-height: 24pt;
    font-size: 1.3rem;
    overflow: auto;
    word-wrap: break-word;
    border-radius: 4px;
  }

  .comments {
    background-color: rgba(215, 215, 215, 0.459);
    text-align: center;
    font-size: 0.9rem;
    width: 60vw;
    height: 50vh;
    margin: 25px 15px 5px 10px;
    padding: 10px;
    border-radius: 4px;
    overflow: auto;
    position: relative;
    top: 10px;
  }

  #comment {
    padding: 5px;
    border-top: 1px solid rgba(215, 215, 215, 0.961);
    text-align: justify;
  }

  .comment_info h6 {
    display: inline-block;
    padding: 3px;
    font-size: 0.8rem;
  }

  #comment_section_title {
    padding-bottom: 10px;
    font-size: 1rem;
  }

  #comment_date {
    display: inline-block;
  }

  ul {
    list-style-type: none;
  }

  .vote_buttons {
    background-color: rgba(215, 215, 215, 0.459);
    width: 320px;
    text-align: center;
    padding: 15px;
    float: right;
    margin: 0 0 30px 15px;
    position: relative;
    bottom: 120px;
    right: 10px;
    border-radius: 4px;
  }

  #vote_btn {
    background-color: rgb(178, 188, 196);
    width: 50px;
    height: 30px;
    margin: 5px;
    border: none;
    border-radius: 2px;
    color: rgb(37, 36, 36);
  }

  #vote_box_title {
    padding-bottom: 5px;
    color: rgb(71, 70, 70);
  }

  .loading {
    font-size: 2rem;
    margin: 100px;
    text-align: center;
    color: rgb(4, 4, 4);
  }
  /* new comment:*/

  .new_comment {
    background-color: rgba(215, 215, 215, 0.459);
    width: 320px;
    height: 50vh;
    margin: 0 10px 30px 10px;
    float: right;
    position: relative;
    top: -365px;
    border-radius: 4px;
  }

  .label_username {
    color: rgb(52, 49, 49);
    margin: 20px 10px 0 30px;
    height: 5px;
    position: relative;
    top: 20px;
    font-size: 0.85rem;
  }
  .username_select {
    background-color: rgb(178, 188, 196);
    width: 180px;
    height: 30px;
    margin: 10px 80px 20px 30px;
    position: relative;
    top: 20px;
    border: none;
    border-radius: 4px;
  }

  .label_addComment {
    color: rgb(52, 49, 49);
    margin: 20px 10px 0 30px;
    height: 5px;
    position: relative;
    top: 20px;
    font-size: 0.85rem;
  }

  #new_comment_text {
    background-color: rgb(255, 255, 255);
    margin: 10px 32px;
    width: 25vw;
    height: 25vh;
    border-radius: 4px;
    border: none;
    position: relative;
    bottom: -20px;
  }

  #new_Comment_btn {
    background-color: rgb(178, 188, 196);
    width: 15vw;
    height: 5vh;
    border: none;
    position: relative;
    bottom: -15px;
    left: 80px;
    text-align: center;
    color: rgb(52, 49, 49);
    border-radius: 4px;
  }
} /*END OF LAPTOP CSS*/
